.logoContainer {
  height: 100%;
  width: 100%;
  padding: 12px;
  background: var(--backgroundLight);
}

.logoText {
  height: 24px;
  width: 166px;
  display: inline-block;
  background-image: url('./alchemy_text-white.svg');
  background-position: center;
  background-repeat: no-repeat;
}
