.container {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  background-color: var(--darkBgGrey);
  z-index: 20;
}

.loader {
  height: 100px;
  width: 120px;
  background-image: url('./loader.svg');
  background-repeat: no-repeat;
  margin: 0 auto;
  align-self: center;
}
