.login_screen {
  display: block;
  width: 100%;
  position: relative;
}

.container_login {
  background-color: #171717;
  margin: 53px 0 0 0;
  padding: 0 42px 17px;
  position: relative;
}

.style_titlebar {
  position: relative;
  -webkit-app-region: drag;
  text-align: right;
  width: 100%;
  min-height: 23px;
  margin: 0;
  padding-top: 8px;
}

.window_close,
.windows_minimize {
  color: white;
  background-color: #171717;
  border: 0;
  font-size: 20px;
  outline: none !important;
  cursor: pointer;
  padding: 0;
  width: 20px;
}

.windows_minimize {
  margin-right: 8px;
}

.logo {
  margin: 0 auto;
  width: 183px;
  height: 19px;
  background: url(../../../../public/images/logo.svg);
}

.logo_anim {
  width: 230px;
  height: 108px;
  position: absolute;
  z-index: 9999;
  top: -23px;
  left: 66px;
  pointer-events: none;
}

.logo_anim > div {
  width: 230px;
  height: 108px;
  position: absolute;
  z-index: 9999;
}

.login_error {
  display: block;
  position: absolute;
  top: -40px;
  margin: 0;
  color: #fd8291;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.limiter {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.login_form_div {
  margin: 71px 0 0 0;
  position: relative;
}

.login_label {
  width: 100%;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.login_form_input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #3e3e3e;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  height: 32px;
  letter-spacing: 2px;
}

.password_form_div {
  margin-top: 35px;
}

.login_form_password {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #3e3e3e;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  height: 32px;
  letter-spacing: 4px;
}

.login_form_content {
  position: relative;
  margin: 10px 0 0 0;
}

.length_user_name {
  position: absolute;
  width: auto;
  left: 0;
  bottom: 0;
  color: transparent;
  opacity: 0;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.length_pwd {
  position: absolute;
  width: auto;
  left: 0;
  bottom: 0;
  color: transparent;
  opacity: 0;
  font-size: 18px;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
}

.purple_bottom_line {
  position: absolute;
  width: 0;
  max-width: 100%;
  left: 0;
  bottom: 0;
  color: transparent;
  border-bottom: 2px solid #7916ff;
  padding: 0;
  margin: 0;
  height: 0;
  line-height: 0;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  letter-spacing: 2px;
  webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.purple_bottom_line_2 {
  position: absolute;
  width: 0;
  max-width: 100%;
  left: 0;
  bottom: 0;
  color: transparent;
  border-bottom: 2px solid #7916ff;
  padding: 0;
  margin: 0;
  height: 0;
  line-height: 0;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  letter-spacing: 4px;
  webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.welcome_page .div_closeme_bottomline {
  padding-top: 36px;
}

.login_btn_div {
  text-align: center;
  margin: 33px 0 0;
}

.login_btn {
  background: transparent;
  color: #ffffff;
  border: 1px solid #7916ff;
  height: 46px;
  width: 122px;
  border-radius: 23px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.login_btn:hover {
  background-color: #7916ff;
}

.container_signup {
  background-color: #141414;
  width: 100%;
  height: 114px;
  padding: 27px 40px 20px;
  display: block;
  box-sizing: border-box;
}

.logo_icon {
  background: url(../../../../public/icons/purple/flask.svg);
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.signup_text {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin: 15px 0 0 0;
  padding: 0;
}

.signup_link {
  color: #7916ff;
  cursor: pointer;
}

.signup_link {
  color: #7916ff;
}

.welcome_page {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.welcome_page .div_welcome_sleep {
  position: relative;  
  height: 82px;
  margin: 103px 0 0 0;
  overflow: hidden;
}

.welcome_page .div_welcome_sleep .welcome_sleep_text {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.2px;
  font-weight: 100;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;  
}

.welcome_page .welcome_description {
  color: #7f7f7f;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 28px 0 0 0;
}

.welcome_page .div_parent_closeme {
  position: relative;
  text-align: center;
  margin: 67px 0 0 0;
  width: 100%;
  overflow: hidden;
}

.welcome_page .div_parent_closeme .div_closeme {
  position: absolute;
  text-align: center;
  width: 100%;
}

.welcome_page .btn_closeme {
  font-size: 12px;
  color: #fff;
  border: none;
  /* border-bottom: 1px solid #7916ff; */
  background: transparent;
  outline: none;
  margin: 0 auto;
  padding: 12px 0;
  letter-spacing: 4.73px;
  cursor: pointer;
  opacity: 1;
}

.welcome_page .btn_closeme_opacity_anim {
  opacity: 1;
}

.slideDown {
  animation: slideDown 2s ease-out forwards;
  /* Safari and Chrome */
  -webkit-animation: slideDown 2s;
}
@keyframes slideDown {
  0% {
    top: 23px;
    opacity: 0;
  }
  50% {
    top: 23px;
    opacity: 0.0;
  }
  75% {
    top: 23px;
    opacity: 0.3;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideDown /* Safari and Chrome */ {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.slideUp {
  animation: slideUp 2s ease-out forwards;
  /* Safari and Chrome */
  -webkit-animation: slideUp 2s;
}
@keyframes slideUp {

  0% {
    top: -82px;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    top: 0;
    opacity: 0.3;
  }
  75% {
    top: 0;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideUp /* Safari and Chrome */ {
  from {
    top: -82px;
  }
  to {
    top:0;
  }
}

.fadeIn {
  animation: fadeIn 3s ease-out forwards;
  /* Safari and Chrome */
  -webkit-animation: fadeIn 5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn /* Safari and Chrome */ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-duration: 5s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}