@import './fonts.css';

body {
  background-color: #171717;
  overflow: hidden;
  font-family: 'HelveticaNeue-Roman', helvetica;
  margin: 0;
  padding: 0;
}

button {
  -webkit-app-region: no-drag;
}

#app {
  position: relative;
  display: block;
  width: 372px;
  height: 541px;
}
